{% extends "root.html" %}
{% block header %}Equinoccio{% endblock %}
{% block titulo %}Medición 3: Equinoccio{% endblock %}
{% block principal %}
<p class="texto">La tercera (y última) medición que realizamos la hicimos durante el equinoccio, que este año sucedió el 22 de septiembre.</p>
<p class="texto">Al igual que las otras dos se hizo en la Ciudad de Buenos Aires y, gracias al Stellarium sabemos que la declinación del sol fue de - 0º 3' y la altura de su culminación superior fue a los 55º 27'</p>
<p class="texto">Durante la toma de mediciones, se presentaron varios inconvenientes que nos forzaron a mover el gnomon. Estos fueron la superposición de la sombra del gnomon con otras varias sombras pertenecientes a la estructura del balcón. Sin embargo, nosotros pudimos observar claramente que la sombra del gnomon trazó, a lo largo del día una línea recta con dirección Este-Oeste (creemos que es posible, con un poco de buena voluntad, ver esto mismo en el GIF que se encuentra debajo de todo en esta misma página)</p>
<p class="texto">Aquí a continuación se encuentran las imágenes (en la primera, tomada a las 9:40 y descartada luego por motivos evidentes se pueden ver las dificultades al medir) y la tabla con las mediciones y la altura del sol calculada.</p>
<br />
<img class="cuadros" src="equinoccio/tabla.png"/>
<br />
<br />
<p class="texto">Medición de las 9:40 (descartada por superposición de sombras de la estructura del balcón)</p>
<br />
<img class="cuadros" src="equinoccio/940.jpg"/>
<br />
<br />
<p class="texto">Medición de las 10:40</p>
<br />
<img class="cuadros" src="equinoccio/1040.jpg"/>
<br />
<br />
<p class="texto">En las primeras 4 imágenes del GIF se ve claramente cómo la sombra describe una línea recta</p>
<br />
<img class="cuadros" src="equinoccio/imagenes.gif"/>
<br />
<br />
{% endblock %}