{% extends "root.html" %}
{% block header %}Posición del gnomon{% endblock %}
{% block titulo %}Posición del gnomon{% endblock %}
{% block principal %}
<p class="texto">Durante el experimento, nos surgió un interrogante…</p>
<p class="texto">¿Cambia que movamos el gnomon cuando realizamos las mediciones? ¿Afecta la longitud de su sombra?</p>
<p class="texto">Al principio, sin ningún fundamento alguno, creíamos que sí afectaba la longitud de la sombra y que debíamos proteger el gnomon a toda costa. Sin embargo, luego de reflexionarlo profundamente, llegamos a la conclusión de que un pequeño desplazamiento no afecta en forma sensible las mediciones. Esto se debe a que los rayos del sol, por la distancia de esta estrella a nosotros, inciden con un ángulo virtualmente idéntico si nos desplazamos (o desplazamos el gnomon) apenas unos metros. </p>
<p class="texto">Para probar la idea, una compañera se midió la sombra del palito ubicado en dos sitios distintos de su terraza, pero a la misma hora… </p>
<video>
    <source src="posicion_gnomon/gnomon.mp4" type="video/mp4">
</video>
{% endblock %}