{% extends "root.html" %}
{% block header %}Medicion 2{% endblock %}
{% block titulo %}Medición 2{% endblock %}
{% block principal %}
<p class="texto">Se llevó a cabo el día 16 de septiembre en Buenos Aires (latitud 34° 36’ SUR). Gracias al Stellarium, sabemos que la declinación del Sol para esa fecha fue de +2° 17’ y su altura esperada para su culminación superior fue de 53° 07’.</p>
<p class="texto">Se eligió como instrumento de medición una cinta métrica, cuya mínima apreciación es de 1 milímetro. El gnomon elegido fue una lata cuya altura es de 19,8 cm.</p>
<br />
<br />
<img class="imagenes" src="medicion2/desde_arriba.jpg"/>
<br />
<br />
<img class="imagenes" src="medicion2/de_costado.jpg"/>
<br />
<br />
<p class="texto">La primera medición se tomó a las 8:30 de la mañana y cada 30 minutos se volvió a medir el largo de la sombra, hasta las 14:30, hora de la última medición, debido a que, luego, el Sol fue ocultado por un edificio cercano, lo cual impidió continuar con las mediciones.</p>
<p class="texto">La culminación superior del Sol ocurrió alrededor de las 12:45, como se esperaba, y la sombra correspondiente fue la de menor longitud (15,8 cm). </p>
<br />
<img class="cuadros" src="medicion2/tabla1.png"/>
<br />
<br />
<video class="cuadros" controls>
    <source src="medicion2/video.mp4" type="video/mp4">
</video>
<br />
<br />
<p class="texto">Realizados los cálculos descritos en la introducción, obtuvimos que la altura del Sol en su culminación fue de 51° 25’ y, con este dato, calculamos latitud o altura del polo visible (PSC) a partir de la altura calculada y la declinación del Sol de ese día. El valor obtenido fue de 36° 18’.</p>
<p class="texto">Cabe notar que los valores obtenidos en esta primera medición difieren de los esperados en alrededor de 1° 42’, es decir que el error fue de menos de dos grados. En líneas generales, ¡se pudo confiar en el método!</p>
{% endblock %}